.top-form {
   -fx-background-color: white;
   -fx-border-color: black;
   -fx-border-width: .4px .4px .2px .4px;
}

.after-top {
    -fx-background-color: #efefef;
    -fx-border-color: black;
    -fx-border-width: .2px .4px .4px .4px;
}

.left-form {
   -fx-background-color: linear-gradient(to bottom right, grey, #b10e0e);
}

.student{
   -fx-text-fill: white;
}

.nav-btn {
   -fx-background-color: transparent;
   -fx-cursor: hand;
   -fx-text-fill: white;
   -fx-font-size: 14px;
   -fx-font-family: "Arial";
   -fx-font-size: 20px;
     -fx-font-style: bold;
}

.large-bg {
   -fx-background-color: white;
   -fx-border-radius: 8px;
}

.random-ahh-text{
  -fx-text-fill: white;
}

.chart-shi{
   -fx-border-width: .5px .5px .5px .5px;
   -fx-border-color: black;
   -fx-border-radius: 8px;
}

.search {
  -fx-background-color: transparent;
  -fx-border-color: linear-gradient(to bottom right, grey, #b10e0e);
  -fx-border-width: .8px;
  -fx-border-radius:8px;
  -fx-font-family: "Tahoma";
  -fx-font-size: 14px;
  -fx-padding: 0px 0px 0px 26px
}

.search:focused{
    -fx-border-width: 1.8px;
    -fx-border-color: linear-gradient(to bottom right, grey, #b10e0e);
}

.table{
  -fx-background-color: transparent;
  -fx-padding: 0px;
  -fx-border-color: linear-gradient(to bottom right, grey, #b10e0e);
  -fx-border-width: 2px;
  -fx-border-radius: 8px;
}

.table-view .column-header-background{
   -fx-background-color: linear-gradient(to bottom right, grey, #b10e0e);
   -fc-border-radius: 8px 8px 0px 0px;
   -fx-background-inset: 0 0 0 0;
}

.table-view .column-header, .filter {
    -fx-background-color: transparent;
    -fx-size: 40px;
}

.table-view .column-header .label {
     -fx-text-fill: #fff;
     -fx-font-family: "Arial";
}